<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/scripts.js"></script>

</head>
<body>

	<div class="header col-sm-12">
			<div class="nav-bar">
				<a href="/"><img class="logo" src="./images/sm-sb-logo.png"/></a>
				<a href="/"><img class="sp" src="./images/sb-lettering_white.png" height="50" width="170"/></a>
				<div class="login">
					<button class="btn btn-info family-login">Family Login</button>
					<button class="btn btn-info volunteer-login">Volunteer Login</button>
				</div>
				<div class="nav-menu col-sm-offset-4">
					<a class="nav-links" href="/#about">About</a>
					<a class="nav-links" href="/blog">Blog</a>
					<a class="nav-links" href="/volunteers">Volunteer</a>
					<a class="nav-links" href="/#contact">Contact</a>
					<a class="nav-links" href="https://stripe.com" target="_blank">Donate</a>
				</div>
			</div>
		</div>


<div id="middleOfBlog col-sm-12"></div>
	<div class="row">
		<div class="blog">
			<% blog.map((entry)=>{ %>
				<h3><%=entry.title%></h3>
				<h5><%=entry.name%></h5>
				<h6><%=entry.date%></h6>
				<p><%=entry.body%></p>
				<hr />
			<% }); %>
		</div>
	</div>



	<footer>
		<div class="footer col-sm-12">
			<ul>
				<li>
			<span class="footer-text" data-toggle="modal" data-target="#myModal"></span>
				</li>
				<li>
			<span class="footer-text"></span>
				</li>
			</ul>	
			<div class="copyright">
				&copy Shoebox Project Copyright 2017
			</div>
			<div class="social-media">
				<img class="fb" src="./images/social-media/Facebook.svg" height="50" width="50"/>
				<img class="twtr" src="./images/social-media/Twitter.svg" height="50" width="50"/>
				<img class="ig" src="./images/social-media/Instagram.svg" height="50" width="50"/>
			</div>
		</div>
	</footer>


</body>
</html>