<!DOCTYPE html>
<html>
<head>
	<title>Resources</title>
	<% include head %>
</head>
<body>
	<div class="container">
		<div class="resources-title">
			<h1>Resources</h1>
			<h4>Please use the following resources to find out more about foster care.</h4>
		</div>
		<div class="resource-list">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
		</div>

	</div>
</body>
</html>