<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="../javascripts/scripts.js"></script>

</head>
<body class="responsive-height youth-signin-form">
	<% if(badEmail){ %>
		<script type="text/javascript">
			swal("The email you entered is not in the system.", "Please try again or contact us to enroll.", "error");
		</script>
	<% }else if(badPass){ %>
		<script type="text/javascript">
			swal("Your password is incorrect.", "Please try again.", "error");
		</script>
	<% } %>
	<div>
		<div class="youth-wrapper">
			<form action="/users/loginProcess" method="post" class="youth-sign-up-form mobile-form-user">
				<h2 class="volunteer-header row text-center mobile-font-boost">Member Login</h2>
				<div class="login-wrapper">
					<div class="email-error error"></div>
					<label class="mobile-font-boost">Email</label><input name="email" type="email" class="email mobile-font-boost" placeholder="Your Email" required>
				</div>

				<div class="login-wrapper">
					<label class="password-input mobile-font-boost">Password</label><input name="password" type="password" class="password mobile-font-boost" placeholder="Your password" required>
					<div class="password-error error"></div>
				</div>
				
				<div class="login-wrapper youth-login row col-sm-4">
					<input type="submit" class="submit btn btn-warning" value="Login">
				</div>

				<div class="login-wrapper not-a-member col-sm-4 mobile-font-boost"><label>Not a member?</label>
					<input type="button" class="btn youth-btn btn-info btn-xs" value="Contact Us!">
				</div>

			</form>
			<div class="">
				<img id="home" src="./images/icons/home.svg"/><a href="/"><img class="return-home" src="/images/sb-lettering_dimgray.png" height="40" width="150"/></a>
			</div>	
		</div>
	</div>
</body>
</html>