<!DOCTYPE html>
<html>
<head>
	<title>User Signup Page</title>
	<% include user-head %>
</head>
<body class="responsive-height user-signup-form">
	<div class="wrapper">
		<form class="user-sign-up-form">
		<h3 class="row text-center">Family Sign Up Form</h3>
		
			<div class="form-wrapper">
				<div class="full-name-error error"></div>
				<label>Full name</label><input type="text" class="full-name" placeholder="Your Full Name" required>
			</div>

			<div class="form-wrapper">
				<div class="email-error error"></div>
				<label>Email</label><input type="email" class="email" placeholder="Your Email" required>
			</div>

			<div class="form-wrapper">
				<div class="phone-error error"></div>
				<label>Phone number</label><input type="tel" class="phone" placeholder="Your Phone Number">
			</div>

			<div class="form-wrapper">
				
				<label>Password  </label>
				<div class="password-error error"></div>
				<input type="password" class="password" placeholder="Your password" required>
			</div>

			<div class="form-wrapper">
				<label>Confirm password</label><input type="password" class="password-confirm" placeholder="Confirm password" required>
			</div>

			<div class="form-wrapper">
				<input type="submit" class="submit btn btn-primary" value="Submit">
			</div>

		</form>
		<div class="">
				<img id="home" src="./images/icons/home-white.svg"/><a href="index.html"><img class="return-home" src="./images/sb-lettering_white.png" height="40" width="150"/></a>
		</div>
	</div>

</body>
</html>