<!DOCTYPE html>
<html>
<head>
	<title>Volunteer Home</title>
	<% include user-head %>
</head>
<body class="calender">
	<div id="uploadVolPic" class="col-sm-3">
		<a href="/volunteers/uploadPic"><button class="btn btn-info">Upload profile picture</button></a>
	</div>
	<div id="logout" class="col-sm-3">
		<a href="/volunteers/logout"><button class="btn btn-info">Logout</button></a>
	</div>
	<div class="col-sm-3 col-sm-offset-9">
	<% if(!notPermitted){ %>
		<a style="color:#58AED1;" href="/volunteers/blog"><button class="padding btn btn-info">New Blog Post!</button></a>
	</div>
	<% } %>
	<% if(admin){ %>
		<div class="col-sm-3 col-sm-offset-9">
			<a style="color:#58AED1;" href="/volunteers/blogReview"><button class="btn" id="admin">Review Blog Posts</button></a>
			<a style="color:#58AED1;" href="/volunteers/volunteerReview"><button class="btn" id="admin">Volunteer Info</button></a>
		</div>

	<% } %>
	<% if(picUploaded){ %>
		<script type="text/javascript">
			swal("Thank you! Your photo has been uploaded.", "", "success");
		</script>
	<% } %>
	<% if(entryAdded){ %>
		<script type="text/javascript">
			swal("Thank you! Your blog entry has been submitted.", "It will be posted upon approval.", "success");
		</script>
	<% }else if(notPermittedMsg){ %>
		<script type="text/javascript">
			swal("You are not permitted to make a blog entry.", "Please contact us if you'd like to contribute.", "error");
		</script>
	<% }else if(unauthorized){ %>
		<script type="text/javascript">
			swal("You are not authorized to review blog posts.", "Please contact us with further questions.", "error");
		</script>
	<% } %>
	<div class="container">
		<div class="row col-sm-12 text-center">
			<h3 id="welcome">Welcome, <%=name%></h3>
		</div>
		<div class="col-sm-9">
			<iframe src="https://calendar.google.com/calendar/embed?src=khio5gi4mdbvipjohb8mb3hc60%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</body>
</html>