<!DOCTYPE html>
<html>
<head>
	<title>Volunteer Home</title>
	<% include user-head %>
</head>
<body>
	<% if(entryAdded){ %>
		<script type="text/javascript">
			swal("Thank you! Your blog entry has been submitted.", "It will be posted upon approval.", "success");
		</script>
	<% }else if(notPermittedMsg){ %>
		<script type="text/javascript">
			swal("You are not permitted to make a blog entry.", "Please contact us if you'd like to contribute.", "error");
		</script>
	<% } %>
	<div class="container">
		<div class="row col-sm-12 text-center">
			<h3>Welcome, <%=name%></h3>
		</div>
		<div class="col-sm-9">
			<iframe src="https://calendar.google.com/calendar/embed?src=khio5gi4mdbvipjohb8mb3hc60%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="col-sm-3">
			<a href="/volunteers/logout"><button class="btn btn-info">Logout</button></a>
		</div>
		<% if(!notPermitted){ %>
			<div class="col-sm-3">
				<a style="color:#58AED1;" href="/volunteers/blog">New Blog Post!</a>
			</div>
		<% } %>
	</div>
</body>
</html>