<!DOCTYPE html>
<html>
<head>
	<title>Volunteer Home</title>
	<% include user-head %>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="146054318389-hbep4445e0rc6ovd4929m9hecb4gf260.apps.googleusercontent.com">

</head>
<body class="calendar">
	<div id="upload-vol-pic" class="col-sm-3">
		<script>getImage()</script>
		<a href="/volunteers/uploadPic"><button class="btn btn-info">Upload profile picture</button></a>
	</div>
	<div id="logout" class="col-sm-3">
		<a href="/volunteers/logout"><button class="btn btn-info">Logout</button></a>
	</div>
	<% if(!notPermitted){ %>
		<div class="col-sm-3 col-sm-offset-9">
		<a style="color:#58AED1;" href="/volunteers/blog"><button class="padding btn waves-effect btn-info">New Blog Post!</button></a>
		</div>
	<% } %>
	<% if(admin){ %>
		<div class="col-sm-3 col-sm-offset-9">
			<a style="color:#58AED1;" href="/volunteers/blogReview"><button class="btn padding btn-info" id="admin">Review Blog Posts</button></a>
			<a style="color:#58AED1;" href="/volunteers/volunteerReview"><button class="btn padding btn-info waves-effect" id="admin">Volunteer Info</button></a>
			<a style="color:#58AED1;" href="/volunteers/userReview"><button class="btn btn-info waves-effect" id="admin">Users</button></a>
		</div>

	<% } %>
	<% if(picUploaded){ %>
		<script type="text/javascript">
			swal("Thank you! Your photo has been uploaded.", "", "success");
		</script>
	<% } %>
	<% if(entryAdded){ %>
		<script type="text/javascript">
			swal("Thank you! Your blog entry has been submitted.", "It will be posted upon approval.", "success");
		</script>
	<% }else if(notPermittedMsg){ %>
		<script type="text/javascript">
			swal("You are not permitted to make a blog entry.", "Please contact us if you'd like to contribute.", "error");
		</script>
	<% }else if(unauthorized){ %>
		<script type="text/javascript">
			swal("You are not authorized to review blog posts.", "Please contact us with further questions.", "error");
		</script>
	<% } %>
		<div id="my-signin2">
		  <script>
		    function onSuccess(googleUser) {
		      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
		      signedIn += 'yes';
		      console.log(signedIn);
			    (function(){
				  if( window.localStorage){
				    if( !localStorage.getItem( 'firstLoad')){
				      localStorage['firstLoad'] = true;
				      window.location.reload();
				    }  
				    else
				      localStorage.removeItem( 'firstLoad' );
				  	}
				})();
			}
		    function onFailure(error) {
		      console.log(error);
		    }
		    function renderButton() {
		    const mq = window.matchMedia( "(max-width: 1100px)" );
		    if(mq.matches){
		      gapi.signin2.render('my-signin2', {
		        'scope': 'profile email',
		        'width': 870,
		        'height': 150,
		        'longtitle': true,
		        'theme': 'dark',
		        'onsuccess': onSuccess,
		        'onfailure': onFailure
		      });
		  	}else{
		  		gapi.signin2.render('my-signin2', {
		        'scope': 'profile email',
		        'width': 240,
		        'height': 50,
		        'longtitle': true,
		        'theme': 'dark',
		        'onsuccess': onSuccess,
		        'onfailure': onFailure
		      });
		  	}
		    }
		  </script>

		  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
		</div>

	<div class="container-fluid">
		<div class="row col-xs-12 text-center">
			<h1 id="welcome" class="col-xs-12">Welcome, <%=name%></h1>
		<div class="col-xs-12 calen">
			<script>setTimeout(checkSigned, 1000);</script>
		</div>
		</div>
	</div>

</body>
</html>