<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
</head>
<body class="volunteer-signin-form"> 
	<div>
		<div class="vol-log-wrapper">
		
			<form action="/volunteers/loginProcess" method="post" class="sign-up-form responsive-height">
						<h2 class="volunteer-header row text-center">Volunteer Login</h2>
				
				<div class="login-wrapper">
					<div class="email-error error"></div>
					<label>Email</label><input name="email" type="email" class="email" placeholder="Your Email" required>
				</div>

				<div class="login-wrapper">
					<label class="password-input">Password</label><input name="password" type="password" class="password" placeholder="Your password" required>
					<div class="password-error error"></div>
				</div>
				<!-- <div>
					<a href="login-Goog">Login with Google!</a>
				</div> -->
				<div class="login-wrapper login row col-sm-6 mobile-form">
						<input type="submit" class="submit btn btn-warning" value="Login">
					</div>
				
				<div class="login-wrapper mobile-form not-a-member col-sm-4 mobile-form"><label>Not a volunteer?</label>
					<input type="button" class="btn vol-btn btn-info btn-xs" value="Click here">
				</div>
			</form>
			<div class="">
				<img id="home" src="../images/icons/home-white.svg"/><a href="/"><img class="return-home" src="../images/sb-lettering_white.png" height="40" width="150"/></a>
			</div>
		</div>
	</div>
</body>
</html>