<!DOCTYPE html>
<html>
<head>
	<title>Upload Photo</title>
	<% include user-head %>
</head>
<body>
	<form method="post" action="/volunteers/uploadPic" enctype="multipart/form-data">
		<div class="md-col-4 md-col-offset-2">
			<input type="text" name="volName" />
			<input type="file" name="imageToUpload" />
			<input type="submit" class="btn btn-primary" />
		</div>
	</form>

</body>
</html>