<!DOCTYPE html>
<html>
<head>
	<title>Volunteer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
</head>
<body class="responsive-height-vol-form responsive-height volunteer-form">
	<div class="volunteer-wrapper">
		<form action="/volunteers/signupProcess" method="post" class="vol-sign-up-form">
			<h2 class="heading row text-center mobile-font-boost">Volunteer Application Form</h2>
			<h5 class="thank-you text-center mobile-font-boost">Thank you so much for your interest in volunteering with The Shoebox Project.<br>Please fill out the form below (all fields are required).</h5>
			<div class="form-wrapper">
				<div class="full-name-error error"></div>
				<label class="mobile-font-boost">Full name</label><input name="name" type="text" class="full-name mobile-font-boost" placeholder="Your Full Name" required>
			</div>

			<div class="form-wrapper">
				<div class="email-error error"></div>
				<label class="mobile-font-boost">Email</label><input name="email" type="email" class="email mobile-font-boost" placeholder="Your Email" required>
			</div>

			<div class="form-wrapper">
				<div class="phone-error error"></div>
				<label class="mobile-font-boost">Phone number</label><input name="phone" type="tel" class="phone mobile-font-boost" placeholder="Your Phone Number" required>
			</div>

			<div class="form-wrapper">
				
				<label class="mobile-font-boost">Password</label>
				<div class="password-error error"></div>
				<input name="password" type="password" class="password mobile-font-boost" placeholder="Your password" required>
			</div>

			<div class="form-wrapper">
				<label class="mobile-font-boost">Confirm password</label><input type="password" class="password-confirm mobile-font-boost" placeholder="Confirm password" required>
			</div>

			<div class="form-wrapper">
				<div class="interest-list mobile-font-boost">I'm interested in (choose as many as you'd like):<br></div>
				<div class="interest col-xs-12">
					<input class="mobile-checkbox-boost" type="checkbox" id="photographing" name="photographer" value="yes">
					<label class="mobile-font-boost" for="coding">Photographing</label>
				</div>
				<div class="interest col-xs-12">
					<input class="mobile-checkbox-boost" type="checkbox" id="setUp" name="set-up" value="yes">
					<label class="mobile-font-boost" for="set-up">Set-up and tear down</label>
				</div>
				<div class="interest col-xs-12">
					<input class="mobile-checkbox-boost" type="checkbox" id="manager" name="manager" value="yes">
					<label class="mobile-font-boost" for="manager">Shoot management</label>
				</div>
				<div class="interest col-xs-12">
					<input class="mobile-checkbox-boost" type="checkbox" id="processing" name="processing" value="yes">
					<label class="mobile-font-boost" for="processing">Photo processing</label>
				</div>
				<div class="interest col-xs-12">
					<input class="mobile-checkbox-boost" type="checkbox" id="assistance" name="general" value="yes">
					<label class="mobile-font-boost" for="assistance">General assistance</label>
				</div>
			</div>

			<div class="form-wrapper background-consent">
				<label class="mobile-font-boost" for="background-check" class="agree">I am at least 18 years old and will submit to a required background check.<br><br></label>
				<input class="mobile-checkbox-boost" type="checkbox" name="consent" class="agree" id="background-check" value="yes" required>
				<input type="submit" class="submit btn btn-warning" value="Not quite ready...">
			</div>
		</form>
		<div class="">
				<img id="home" src="./images/icons/home-white.svg"/><a href="/"><img class="return-home" src="./images/sb-lettering_white.png" height="40" width="150"/></a>
		</div>
	</div>

</body>
</html>