<!DOCTYPE html>
<html>
<head>
	<title>Upload Photo</title>
	<% include user-head %>
</head>
<body>
	<form class="upload-pic" method="post" action="/volunteers/uploadPic" enctype="multipart/form-data">
		<div class="col-xs-offset-2 col-xs-8">
			<input type="text" name="volName" />
			<input type="file" name="imageToUpload" />
			<input type="submit" class="btn btn-primary" />
		</div>
	</form>

</body>
</html>